.DS_Store

target
dependency-reduced-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.m2
.bash_history

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Spring Boot ###
*.log
